@import 'fonts.scss';
@import 'modules/header/topbar.scss';
@import 'modules/header/menu.scss';
@import 'modules/header/image-categories.scss';

@import 'responsive.scss';

#headerWrI{
  font-family: 'Acumin Pro';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.wri-overflow-header{
  overflow: hidden;
}

#wri-fuckawesome-overlay{
  position:fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 9999;
}
