@import 'fonts.scss';
@import 'modules/header/topbar.scss';
@import 'modules/header/menu.scss';
@import 'modules/header/image-categories.scss';

@import 'responsive.scss';

#headerWrI{
  font-family: 'Acumin Pro';
  margin-left: -10px;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.9);
}
