// Mobile
@media (min-width: 375px) and (max-width: 767px){
  .wri-menu-container{
    display: none;
  }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 991px){
  .wri-menu-container{
    display: none;
  }
}

@media screen and (min-width: 1440px){
  #headerWrI .wri-menu-container{
    .wri-menu-categories{
      width: 100%;
      .climate, .energy, .food, .forest, .water, .cities{
        display: flex;
        width: 33.3%;
        background-size: cover;
      }
    }
  }
}
