#headerWrI .wri-menu-container{
  .wri-menu-categories{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -0.5px;
    .wri-category{
      color: white;
      width: 33.3%;
      flex: none;
      img, p{
        cursor: pointer;
      }
      img{
        width: 100%;
        height: 200px;
        position: relative;
        margin-bottom: -10px;
      }
      p{
        position: absolute;
      }
      p.up-categories, p.down-categories{
        padding-left: 18px;
        color: white;
        font-family: 'Acumin Pro';
        font-size: 20px;
      }
      p.up-categories{
        top: 165px;
      }
      p.down-categories{
        top: 365px;
      }
    }
  }
}
