#headerWrI .wri-menu-container{
  .wri-menu-categories{
    width: 100%;
    ul{
      display: flex;
      flex-wrap: wrap;
    }
    ul, li{
      margin: 0;
      padding: 0;
      list-style: none;
      cursor: pointer;
    }
    .climate, .energy, .food, .forest, .water, .cities{
      display: flex;
      width: 33.3%;
      height: 200px;
      background-size: 100% 200px;
    }
    .climate{
      background-image: url('/app/images/category1.jpg'), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    }
    .energy{
      background-image: url('/app/images/category2.jpg'), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    }
    .food{
      background-image: url('/app/images/category3.jpg'), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    }
    .forest{
      background-image: url('/app/images/category4.jpg'), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    }
    .water{
      background-image: url('/app/images/category5.jpg'), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    }
    .cities{
      background-image: url('/app/images/category6.jpg'), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    }
    p{
      position: absolute;
    }
    p.up-categories, p.down-categories{
      padding-left: 18px;
      font-family: 'Acumin Pro Condensed';
      font-size: 23px;
      font-weight: bold;
      line-height: 1.78;
      letter-spacing: 0.2px;
      text-align: left;
      color: white;
    }
    p.up-categories{
      top: 165px;
    }
    p.down-categories{
       top: 365px;
    }
  }
}
