#headerWrI .wri-menu-container{
  width: 100%;
  display: flex;
  .wri-nav-menu{
    background-color: white;
    width: 40%;
    padding: 20px;
    img{
      width: 200px;
    }
    ul{
      padding: 0 0 0 90px;
    }
    ul li{
      list-style: none;
    }
    ul li a{
      color: #555555;
      font-family: 'Acumin Pro';
      font-size: 17px;
      text-decoration: none;
      line-height: 2.1;
    }
  }
}
