#headerWrI .wri-menu-container{
  width: 100%;
  display: flex;
  position: relative;
  z-index: 10000;
  .wri-nav-menu{
     .wri-nav-menu-content{
       display: flex;
       flex-direction: column;
       position: relative;
       padding-top: 70px;
       svg{
         position: absolute;
         left: -82px;
         top: 0;
       }
     }
    background-color: white;
    width: 40%;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 200px;
    }
    ul{
      padding: 0;
    }
    ul li{
      list-style: none;
      padding: 6px 0;
    }
    ul li a{
      color: #555555;
      font-family: 'Acumin Pro';
      font-size: 17px;
      text-decoration: none;
      line-height: 1.47;
      text-align: left;
      transition: color 0.3s ease-in-out;
      &:hover{
        color: #f0ab00;
      }
    }
  }
}
