#headerWrI .wri-headerTopbar{
  width: 100%;
  height: 35px;
  background-color: #333333;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  z-index: 10000;
  cursor: pointer;
  svg{
    padding-right: 20px;
  }
}
